<?xml version="1.0" encoding="utf-8"?>
<!--注意；在 .net core 项目中 这个配置文件是不起作用的，使用的是 appsettings.json-->
<configuration>
  <connectionStrings>

    <!--providerName  支持的数据库类型 Sqlserver，Mysql 可以被更改-->
    <add name="SQLConnString_Mian" connectionString="server=127.0.0.1;database=demodb;uid=root;pwd=admin888; Pooling=True;Max Pool Size=100;Connect Timeout=60" providerName="Mysql" />

  </connectionStrings>

  <appSettings>
    <!--程序运行输出的日志文件目录-->
    <add key="IsLogging" value="true" />
    <add key="LoggingPath" value="d:\logs" />
    <add key="AppName" value="ShoppingPeeker.Web" />
    <!--使用环境 Dev为开发环境，Online为线上正式环境-->
    <add key="WebStatus" value="Dev" />

    <!--缓存组件类型 Default MemCahed Redis-->
    <add key="CacheConfig" value="Redis" />
    <!--Redis 连接字符串-->
    <add key="RedisConnectionString" value="localhost:6379" />
    <!--Memcached 连接字符串-->
    <add key="MemcachedIp" value="127.0.0.1:11211" />



    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>